:root{
    --c-main: rgb(101, 101, 101);
    --c-secondary: rgba(59, 156, 205, 0.801);
}

html{
    scroll-behavior: smooth;
    
}

header{
    display:flex;
    background-color: var(--c-main);;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 300%;
    color: var(--c-main);
    background-color: var(--c-secondary);
    padding-left: 4rem;
    padding-right: 1rem;
    width:100%;
    text-align: center;
}

nav{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
header a, footer a{
    margin: 1rem;
    text-decoration: none;
    color: var(--c-secondary);
    border-bottom: solid var(--c-secondary);
    padding: .5rem;
    font-size: 150%;
}

main{
    font-family:Arial, Helvetica, sans-serif;
}

main h2, footer h4{
    font-size: 180%;
    color: var(--c-main);
    border-bottom: solid var(--c-main);
    padding-bottom:.75rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}
main p{
    padding:1.5rem;
    color: var(--c-main);
    font-weight: bold;
}

footer{
    display:flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

h3 span{
    font-size: 1rem;
    position: absolute;
    top: 60px;
    left: 1rem;
}
/*all elements called by IDs*/
#contact{
    display:flex;
    flex-direction: column;    
}

#contact a{
    align-self:self-start;
}

#hero-image{
    height: 300px;
    width:100%;
    background-image:linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)), url("../images/pano-image.jpeg");
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items: end;
}

#hero-text{
    margin: 1rem;
    font-size: 200%;
    color:var(--c-secondary);
    background-color: var(--c-main);
    text-align:center;
    padding: 1rem;
}

#about{
    display:flex;
    flex-direction: column;
}

#work{
    display:flex;
    flex-direction: column;
}

#tiles{
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}

#tiles a{
    margin:1rem;
    border: 4px solid var(--c-secondary);
    background-size: cover;
    color: var(--c-main);
    text-decoration: none;
    height:200px;
}

#tiles h3{
    display: inline;
    background-color: var(--c-secondary);
    font-size: 2rem;
    padding: 1rem;
    padding-bottom: 2rem;
    position:relative;
    top: 100px;
    width: 300px;
}

/* images for the tiles*/

#surf-report{
    background-image: linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)),url(../images/02-portfolio-4.jpg);
    flex: 1 0 200px;
}
#led-wall{
    background-image: linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)),url(../images/02-portfolio-1.jpg);
    flex: 1 0 200px;
}
#calculator{
    background-image: linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)),url(../images/02-portfolio-2.jpg);
    flex: 1 0 200px;
}
#pastel-puzzels{
    background-image: linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)),url(../images/02-portfolio-3.jpg);
    flex: 1 0 200px;
}
#run-buddy{
    background-image: linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)),url(../images/02-run-buddy.jpg);
    flex: 1 0 200px;
}
#horiseon{
    background-image: linear-gradient(rgba(25, 65, 140, 0.25),rgba(25,65,140,.25)),url(../images/01-html-css-git-homework-demo.png);
    flex: 1 0 200px;
}

/* Hover items for links*/
a:hover{
    background-color:var(--c-secondary);
    color: var(--c-main);
}

#tiles a:hover h3{
    background-color:var(--c-main);
    color: var(--c-secondary);
}

#tiles a:hover{
    border: 4px solid var(--c-main);
    filter: drop-shadow(8px 8px 10px var(--c-main));
}


/* @media screen items for flexible screen sizes */
@media screen and (min-width: 769px) {
    #hero-image {
        justify-content: right;
    }
}       
@media screen and (min-width: 769px) {
    #hero-text {
        margin-right: 2rem;
    }   
}
@media screen and (min-width: 769px) {
    #contact {
        flex-direction: row;
        padding: 0;
        padding-top: 2rem;
        width: 100%;
        justify-content: space-around;
    }   
}
@media screen and (min-width:769px){
    #tiles{
        flex-direction: row;
    }
}

@media screen and (min-width:769px){
    #surf-report{
       flex: 1 0 90%;
       min-height: 450px;
    }
}

@media screen and (min-width:769px){
    #surf-report h3{
        top:350px;
    }
}

@media screen and (min-width:769px){
    #led-wall, #calculator, #pastel-puzzels, #run-buddy, #horiseon{
       flex: 1 0 45%;
    }
}

@media screen and (min-width: 993px) {
    header, #about, #work, footer{
      flex-direction: row;
    }
}
@media screen and (min-width: 993px) {
    h1 {
        flex:0 0 400px;
    }   
}

@media screen and (min-width: 993px) {
    main h2, h4 {
        flex:0 0 150px;
    }   
}

@media screen and (min-width: 993px) {
    main h2, footer h4{
          border-bottom: 0;
          border-right: solid;
          padding: 1rem;
          margin-left: 3rem;
    }
}
